{% extends 'layout.html' %}
{% block content %}

<div class="table-responsive">
    {{ subject_table | safe }}
</div>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<!-- jQuery and DataTables JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function () {
        // Add a second header row with inputs for column-specific search
        $('.table thead').append('<tr></tr>');
        $('.table thead tr').eq(1).html(
            $('.table thead th').map(function () {
                return '<th><input type="text" class="form-control" placeholder="Search ' + $(this).text() + '"></th>';
            }).get().join('')
        );

        // Initialize the DataTable
        var table = $('.table').DataTable({
            dom: 'lrtip', // Remove the global search bar
            initComplete: function () {
                // Add filtering functionality to each column's input
                this.api()
                    .columns()
                    .every(function (index) {
                        var column = this;
                        $('thead tr:eq(1) th:eq(' + index + ') input')
                            .on('keyup change', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }
                            });
                    });
            },
            paging: true, // Enable pagination
            info: true, // Show table info
        });
    });
</script>

{% endblock %}
