{% extends 'layout.html' %}
{% block content %}

<div class="table-responsive">
    {{ subject_table | safe }}
</div>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<!-- jQuery and DataTables JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<style>
    #subjectTable th:nth-child(1), #subjectTable td:nth-child(1) { width: 10%; }
    #subjectTable th:nth-child(2), #subjectTable td:nth-child(2) { width: 15%; }
    #subjectTable th:nth-child(3), #subjectTable td:nth-child(3) { width: 20%; }
    /* Add more column widths as necessary */
</style>

<script>
    $(document).ready(function () {
        $('#subjectTable').DataTable({
            columnDefs: [
                { width: '10%', targets: 0 },
                { width: '15%', targets: 1 },
                { width: '20%', targets: 2 },
                // Add more as needed
            ]
        });
    });
</script>

{% endblock %}
