{% extends 'layout.html' %}
{% block content %}

<h1 class="mb-3"> Dados de {{ user.username }} (nº Experimentos: {{ subjects.total }}; ID: {{ user.id }})</h1>
	
{% for subject in subjects.items %}
	
	<article class="media content-section">
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="{{ url_for('table.user_subjects', username=subject.owner.username) }}">{{ user.username }}</a>
				<small class="text-muted">{{ subject.date_created.strftime('%d/%m/%Y, %H:%M:%S') }}</small>
			</div>

			<p class="article-content">
				<strong>ID do Experimento:</strong> {{ subject.id }}<br>
				<strong>Data do Experimento:</strong> {{ subject.date.strftime('%d-%m-%Y') if subject.date else 'N/A' }}<br>
				<strong>Projeto/pesquisador:</strong> {{ subject.project }}<br>
				<strong>Nome/número do animal:</strong> {{ subject.name_number }}<br>
				<strong>Espécie/linhagem:</strong> {{ subject.lineage }}<br>
				<strong>Sexo:</strong> {{ subject.sex }}<br>
				<strong>Grupo Experimental:</strong> {{ subject.ova_or_control }}<br>
				<strong>Pré-anestésico:</strong> {{ subject.acepromazine }}<br>
				<strong>Anestésico:</strong> {{ subject.anesthesic }}<br>
				<strong>Bloqueador neuromuscular:</strong> {{ subject.neuromuscular_blocker }}<br>
				<strong>Estado ao final do experimento:</strong> {{ subject.dead_or_alive }}<br>
				<strong>Idade (semanas):</strong> {{ subject.age }}<br>
				<strong>Peso (g):</strong> {{ subject.weight }}<br>
				<strong>Comprimento naso anal (cm):</strong> {{ subject.naso_anal_length }}<br>
				<strong>Lavado broncoalveolar (/ 4 x 10⁴):</strong> {{ subject.bronchoalveolar_lavage }}<br>
				<strong>ID do Usuário:</strong> {{ subject.user_id }}<br>
				<strong>Observações:</strong> {{ subject.observations }}<br>
				
			</p>

			{% if subject.owner == current_user or current_user.is_admin %}
			
			<div>
				<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('table.update_data', subject_id=subject.id) }}"> Editar </a>
				<button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal{{ subject.id }}"> Apagar </button>
			</div>
		</div>
			{% endif %}
	</article>

	<div class="modal fade" id="deleteModal{{ subject.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ subject.id }}" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel{{ subject.id }}"> Deseja realmente apagar "{{ subject.id }}"? </h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Fechar </button>
					<form action="{{ url_for('table.delete_data', subject_id=subject.id) }}" method="POST">
						<input class="btn btn-danger" type="submit" value="Apagar">
					</form>
				</div>
			</div>
		</div>
	</div>

{% endfor %}

{% for page_num in subjects.iter_pages() %}
	
	{% if page_num %}
		
		{% if subjects.page == page_num %}	
			<a class="btn btn-info mb-4" href="{{ url_for('table.user_subjects', username=user.username, page=page_num) }}"> {{ page_num }} </a>
		{% else %}
			<a class="btn btn-outline-info mb-4" href="{{ url_for('table.user_subjects', username=user.username, page=page_num) }}"> {{ page_num }} </a>
		{% endif %}
		
	{% else %}
		...
	{% endif %}

{% endfor %}

{% endblock %}
